// Home bar

.feed-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 53px;
  border-bottom: #EEE solid 1px;
}

.feed-header--content {
  display: flex;
  flex-direction: row;
  padding: 0px 16px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  a {
    color: #000;
    height:24px;
  }
  svg {
    width: 20px;
    height: 20px;
    margin-left: auto;
    padding: 10px;
    border-radius: 50%;
  }
  svg:hover {
    cursor: pointer;
    background-color: #EEE;
    border-radius: 50%;
    transition-duration: 0.4s;
  }
  h2 {
    width: 510px;
    font-size: 1.25rem;
  }
  h2:hover {
    cursor: pointer;
  }
}

.svg-container {
  display: flex;
  align-self: flex-end;
}

// 