// Home bar

.feed-panel-container {
  position: relative;
  margin-bottom: 63px;
}

.feed-header {
  position: fixed;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 53px;
  border-bottom: #EEE solid 1px;
}

.feed-header--content {
  display: flex;
  flex-direction: row;
  padding: 0px 16px;
  width: 566px;
  justify-content: space-between;
  align-items: center;
  a {
    color: #000;
    height:24px;
  }
  svg {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    transition-duration: 0.2s;
  }
  svg:hover {
    cursor: pointer;
    background-color: #EEE;
    border-radius: 50%;
    transition-duration: 0.2s;
  }
  h2 {
    font-size: 1.25rem;
  }
  h2:hover {
    cursor: pointer;
  }
}

.svg-container {
  display: flex;
  align-self: flex-end;
}

// tweet input card

.make-tweet-container {
  display: flex;
  flex-direction: row;
  margin: 0px 0px;
  padding: 0px 16px;
  min-height: 114px;
  // height: 114px;
  border-bottom: #EEE solid 1px;
}

.profile-image {
  margin-right: 12px;
  // padding-top: 4px;
  height: 100%;
  width: 48px;
  img {
    object-fit: cover;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}

.tweet-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  input {
    border: none;
    font-size: 1.28rem;
    height: 28px;
    padding: 12px 0px;
    outline: none;
    width: 100%;
  }
}

.interactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  fill: rgb(28, 155, 239);
}

.reactions {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  .media, .gif, .poll, .emoji, .schedule {
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  transition: 0.4s;
}:hover {
  background-color: #d5eff8;
  border-radius: 50%;
  transition: 0.4s;
  }
}

.submit-tweet {
  align-self: flex-end;

  * {
    transition-duration: 0.2s;
  }

  button {
    border: none;
    color: #fff;
    background-color: rgb(28, 155, 239);
    padding: 9px 18px;
    text-decoration: none;
    font-family: inherit;
    font-size: 0.6rem;
    border-radius: 25px;
  }
  button:hover {
    cursor: pointer;
    // filter: brightness(0.9);
    background-color: #0c8bdf;
  }
  
  .button-disabled {
    background-color: #8ecdf8;
  }
  .button-disabled:hover {
    background-color: #8ecdf8;
  }
}

// user tweet

.tweet-container{
  display: flex;
  flex-direction: row;
  margin: 0px 0px;
  padding: 5px 16px;
  min-height: 98px;
  border-bottom: #EEE solid 1px;
  transition-duration: 0.2s;
  cursor: pointer;
}
.tweet-container:hover {
  background-color: #f4f4f4;
  transition-duration: 0.2s;
  cursor: pointer;
}

.tweet {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  p {
    width: 100%;
    max-width: 506px;
    word-break: break-word;
  }
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 18.4px;
  width: 100%;
  a {
    text-decoration: none;
    color: #000;
  }
  .user-name {
    font-weight: bold;
  }
  .user-name:hover {
    text-decoration: underline;
  }
  .user-handle {
    color: #666;
  }
}

.tweet-post {
  width: 100%;
  max-width: 490px;
}

.tweet-post p {
  font-size: 0.9rem;
  padding-top: 5px;
}

.image-post {
  img {
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-top: 15px;
  }
}

// who to follow
.wtf-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  padding: 0px 16px 12px 16px;
  align-items: center;
}

.wtf-more {
  svg {
    fill: #666;
    width: 20px;
    height: 20px;
    margin-left: auto;
    padding: 10px;
    border-radius: 50%;
    transition-duration: 0.2s;
  }
  svg:hover {
    cursor: pointer;
    background-color: #EEE;
    border-radius: 50%;
    transition-duration: 0.2s;
  }
}

.wtf-container {
  border-bottom: #EEE solid 1px;
}

.wtf-user {
  display: flex;
  flex-direction: row;
  height: 84px;
  padding: 12px 16px;
  transition-duration: 0.2s;
}

.wtf-user:hover {
  background-color: #f4f4f4;
  transition-duration: 0.2s;
  cursor: pointer;
}

.user-follow {
  button {
    background-color: #222;
    color: #ddd;
    border: none;
    padding: 9px 18px;
    text-decoration: none;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 25px;
    overflow: visible;
  }
  button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.post-content {
  display: flex;
  flex-direction: column;
  width: 506px;
}

.tweet-interactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 392px;
  padding: 10px 0px;
  svg {
    width: 18.75px;
    height: 18.75px;
    padding: 10px;
    fill: #666;
    border-radius: 50%;
    transition-duration: 0.2s;
  }
  .like:hover {
    background-color: lightpink;
    fill: red;
    transition-duration: 0.2s;
  }
  :hover {
    background-color: #d5eff8;
    fill: rgb(28, 155, 239);
    border-radius: 50%;
    transition-duration: 0.2s;
  }
  p {
    align-self: center;
    height: auto;
    width: auto;
    margin-left: -45px;
  }
}

//profile

.profile-container {
  z-index: 1;
  position: relative;
  // margin-bottom: 63px;
}

.profie-header {
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: #fff;
  align-items: center;
  height: 53px;
  padding: 16px;
  border-bottom: #EEE solid 1px;
}

.profile-header-content {
  display: flex;
  flex-direction: row;
  padding: 0px 16px;
  height: 53px;
  width: 566px;
  // justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: #000;
    width: 100%;
  }
  .profile-username {
    font-weight: bold;
  }
  .tweet-count {
    font-size: 0.7rem;
  }
}

.back-svg {
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-right: 25px;
  border-radius: 50%;
  transition: 0.6s;
}

.back-svg:hover {
  background-color: #d9d9d9;
  border-radius: 50%;
  transition: 0.6s;
}

.user-banner {
  background-color: rgb(208, 221, 223);
  height:199.33px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.profile-card-container {
  height: 158.75px;
  padding: 12px 16px 0px 16px;
  margin-bottom: 16px;
  p {
    font-size: 0.8rem;
    color: #666;
  }

}

.img-and-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
  button {
    background-color: #fff;
    width: 129px;
    height: 36px;
    border-radius: 25px;
    border: 1px solid #ddd;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.3s;
  }
  button:hover {
    cursor: pointer;
    background-color: #eee;
    transition: 0.3s;
  }
  img {
    margin-top: -90px;
    object-fit: cover;
    width: 133.5px;
    height: 133.5px;
    border: 4px solid #fff;
    border-radius: 50%;
  }
  img:hover {
    cursor: pointer;
  }
}

.joined {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  svg {
    width: 19px;
    height: 19px;
    fill: #666;
  }
  p {
    margin-left: 5px;
  }
}

.profile-follows {
  display: flex;
  flex-direction: row;
  p {
    margin-right: 10px;
  }
  p:hover {
    text-decoration: underline;
  }
  span {
    color: #000;
  }
}

.profile-menu-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 53px;
  padding: 0px 50px;
  border-bottom: #EEE solid 1px;
  button {
    border: none;
    background-color: #fff;
  }
  button:hover {
    border-bottom: 2px solid #1c9bef;
  }
}

.follow-menu-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 53px;
  padding: 0px 50px;
  border-bottom: #EEE solid 1px;
  button {
    border: none;
    background-color: #fff;
  }
  button:hover {
    border-bottom: 2px solid #1c9bef;
  }
}

.tweet-more {
  fill: #666;
  width: 20px;
  height: 20px;
  svg {
    margin: -10px 0px 0px -15px;
    width: 19px;
    height: 19px;
    padding: 10px;
    border-radius: 50%;
    transition: 0.4s;
  }
  svg:hover {
    fill: rgb(28, 155, 239);
    border-radius: 50%;
    background-color: rgb(208, 221, 223);
    transition: 0.4s;
  }
}

