
.follower-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 566px;
  height: 80px;
  border-bottom: 1px solid #eee;
}

.follow-menu-cont {
  a {
    color: black;
  }
}

.user-header {
  display: flex;
  flex-direction: row;
  width: 506px;
  justify-content: space-between;
}

.user {
  p {
    color: #888;
  }
}

.user-bio {
  p {
    padding-top: 10px;
  }
}

.follower-image {
  width: 50px;
  height: 80px;
  padding-right: 12px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.follow-button {
  button {
  width: 78.3px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ddd;
  background-color: #F6F9F9;
  transition: 0.3s;
  }
}

.follow-button:hover {
  button {
  color: red;
  background-color: rgb(255, 196, 196);
  transition: 0.3s;
  }
}
