:focus {
  outline: 0 !important;
}

.landing-login-container {
  height: 100vh;
}

.image-panel {
  background-image: url('Botanical-Tropical-Green-Leave-Pattern.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.landing-logo {
  display: flex;
  justify-content: center;
  margin: auto;
  max-height: 380px;
  height: 50%;
  fill: rgb(255, 255, 255);
}

.twitter-logo {
  width: 80px;
  height: 65px;
  fill: rgb(28, 155, 239);
  margin-bottom: 30px;
}

.landing-container {
  height: 95vh;
  display: flex;
  flex-direction: row;
}

.login-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  padding: 0px 36px;
  width: 85vw;
  height: 100%;
  // background-color: #eee;
}

.login-panel {
  h1 {
    margin: 30px 0;
    font-size: 4rem;
    font-weight: 900;
  }
  h2 {
    margin: 20px 0;
    font-size: 2rem;
    font-weight: 800;
  }
  a {
    color: cornflowerblue;
  }
  a:hover {
    text-decoration: underline;
  }
  p {
    font-size: 0.75rem;
    margin: 20px 0;
    width: 380px;
  }
  .login-question {
    font-size: 1rem;
  }
}

.login-anchor {
  font-size: 1rem;
  color: cornflowerblue;
}

.login-anchor:hover {
  cursor: pointer;
  text-decoration: underline;
}

.login-panel img {
  width: 100%;
  height: 100%;
  display: absolute;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  button {
    background-color: #fff;
    margin: 10px 0px;
    font-weight: 900;
  }
  button:hover {
    background-color: #eee;
    cursor: pointer;
  }
  svg {
    height: 20px;
    width: 20px;
    padding-right: 5px;
  }
}

.apple-login {
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.login-panel button {
  border: none;
  width: 320px;
  height: 38px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(207, 217, 202);
  border-radius: 19px;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  height: 5vh;
  min-height: 30px;
  // font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
}

footer {
  a {
    color: #222;
    padding: 5px 10px;
  }
  a:hover {
    text-decoration: underline;
  }
}
