* {
  list-style: none;
  text-decoration: none;

  font-size: 1.1rem;
}

.nav-container {
  width: auto;
  height: 100%;
  margin-left: 0px;
  padding: 5px 0px 5px 0px;
}

.logo-container {
  svg {
    fill: #1c9bef;
    width: 30px;
  }
  padding: 10px 15px;
}

.link-button-container {
  display: flex;
  flex-direction: column;
}

.link-button {
  display: flex;
  flex-direction: row;
  // padding: 0 0;
  width: fit-content;
  .span-container {
    display: flex;
    align-self: center;
    padding-right: 15px;
    padding-left: 5px;
  }
  .svg-container {
    padding: 10px 15px;
  }
}

.link-button:hover {
  border-radius: 25px;
  background-color: #eee;

}

.nav-tweet-container {
  margin: 10px 0;
}

.nav-tweet-button {
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 15px 32px;
  background-color: cornflowerblue;
  border-radius: 32px ;
}

.nav-tweet-button-content {
  display: flex;
  justify-content: center;
  span {
    color: white;
  }
}

svg {
  width: 26px;
}