.edit-profile-container {
  width: 600px;
  height: 60vh;

  border-radius: 16px;
  background-color: #fff;

  .edit-profile-container__header-container {
    display: flex;
    flex-direction: row;
    
    padding: 0 16px;
    height: 53px;

    .edit-profile-container__header-svg {
      min-width: 56px;
      svg {
        width: 20px;
      }
    }

    .edit-profile-container__header-text {
      span {
        font-weight: 900;
        font-size: 1.25rem;
      }
    }

    .edit-profile-container__header-save-button-container {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #0f1419;
      .edit-profile-container__header-save-button-text {
        span {
          color: #fff;
          font-weight: 900;
          font-size: .9rem;
        }
      }
    }
  }

  .edit-profile-container__banner-container {
    .edit-profile-container__banner-img {
      
    }
  }

  .edit-profile-container__profilePic-container {
    .edit-profile-container__profilePic-img {

    }
  }

  .edit-profile-container__name-container {
    
  }

  .edit-profile-container__bio-container {
    
  }
}
