.link-button-container {
  display: flex;
  flex-direction: column;
}

.link-button {
  display: flex;
  flex-direction: row;
  // padding: 0 0;
  width: fit-content;
  border-radius: 25px;
  .span-container {
    display: flex;
    align-self: center;
    padding-right: 15px;
    padding-left: 5px;
    
    span {
      color: #0f1419;
    }
  }
  .svg-container {
    padding: 10px 15px;
  }

  svg {
    width: 26px;
  }
}

.link-button:hover {
  background-color: #eee;
}