.nav-panel {
  z-index: 1;

  list-style: none;
  text-decoration: none;

  font-size: 1rem;

  * {
    transition-duration: 0.2s;
  }
}

.nav-container {
  width: auto;
  height: 100vh;
  margin-left: 0px;
  padding: 0px 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: sticky;
  top: 0;
}