.nav-tweet-container {
  margin: 10px 0;

  :hover {
    background-color: #348055;
  }
}

.nav-tweet-button {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 15px 32px;
  background-color: #59B781;
  border-radius: 32px ;
  border-style: none;
}

.nav-tweet-button-content {
  display: flex;
  justify-content: center;

  span {
    color: white;
    font-size: 1rem;
    font-weight: 900;
  }
}